.AmongUs1{
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: left;
margin: auto;
background-color: black;
}
.AmongUs2{
color: cyan;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: left;
margin: auto;
background-color: black;
}
.AmongUs3{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin: auto;
    background-color: black;
}